@{    
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = HttpContext.Current.Application["Site_Name"] + " | Pedidos Realizados";

    ViewBag.MinCSS = HttpContext.Current.Application["MIN_CSS"].ToString() == "1" ? ".min" : "";
    ViewBag.MinJS = HttpContext.Current.Application["MIN_JS"].ToString() == "1" ? ".min" : "";
    ViewBag.VersaoCSS = HttpContext.Current.Application["VERSAO_CSS"].ToString();
    ViewBag.VersaoJS = HttpContext.Current.Application["VERSAO_JS"].ToString();
    ViewBag.MinCSS_FRAMEWORK = HttpContext.Current.Application["MIN_CSS_FRAMEWORK"].ToString() == "1" ? ".min" : "";
    ViewBag.MinJS_FRAMEWORK = HttpContext.Current.Application["MIN_JS_FRAMEWORK"].ToString() == "1" ? ".min" : "";

    ViewBag.Breadcrumb = new Dictionary<string, string>();
    ViewBag.Breadcrumb.Add("Painel Administrativo", Url.Action("Index", "Painel"));
    ViewBag.Breadcrumb.Add("Pedidos Realizados", "");
    
    var Url_API_Lista_Pedidos = Url.Action("List", "api/Pedidos/Realizados");    
}
@section CSSHeader{    
	<link rel="stylesheet" href="~/Content/bootstrap-table-master/src/bootstrap-table@(ViewBag.MinCSS_FRAMEWORK).css?v=@(ViewBag.VersaoCSS)">	
}
@section ScriptHeader{    
	<script type="text/javascript" src="~/Content/bootstrap-table-master/src/bootstrap-table@(ViewBag.MinJS_FRAMEWORK).js?v=@(ViewBag.VersaoJS)"></script>
	<script type="text/javascript" src="~/Content/bootstrap-table-master/src/locale/bootstrap-table-pt-BR@(ViewBag.MinJS).js?v=@(ViewBag.VersaoJS)"></script>	    
}
<section id="section-principal">    
	<div class="conteudo-geral">                
		<div class="conteudo-alunos mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <nav class="menu-tipo-pessoa mdl-navigation mdl-tabs__tab-bar">
				<a href="#div-alunos-list" class="mdl-tabs__tab is-active">Pedidos Realizados</a>				
			</nav>

            <div class="mdl-tabs__panel is-active" id="div-alunos-list">
                <table id="table-alunos-list"
					data-toggle="table"
					data-locale="pt-BR"
					data-url="@(Url_API_Lista_Pedidos)"          
                    data-ajax-options="oUtil.GetConfigAjaxBootstrapTable"          
					data-sort-name="Usuario_Tipo"
					data-sort-order="asc"
					data-show-refresh="true"
					data-show-toggle="false"
					data-show-columns="true"
					data-search="true"
                    data-trim-on-search="false"
					data-pagination="true"
					data-page-size="20"
					data-page-list="[20,10,20]">
					<thead>
						<tr>                                               
							<th data-sortable="true" data-field="Created" data-formatter="oUtil.FormatDate2">Data</th>
							<th data-sortable="true" data-field="Code">Code</th>							
                            <th data-sortable="true" data-field="AlunoTurmaNome">AlunoTurmaNome</th>			
                            <th data-sortable="true" data-field="total_value" data-formatter="oUtil.toReal">Total Value</th>	
                            <th data-sortable="true" data-field="nu_parcelas">Número Parcelas</th>	        
                            <th data-sortable="true" data-field="FormaPgto">Forma Pgto</th>	   
                            <th data-sortable="true" data-field="bandeira">Bandeira</th>	                               
                            <th data-sortable="true" data-field="statusRequest">Status</th>	                                                           
						</tr>
					</thead>
				</table>                		
            </div>

            <div class="mdl-tabs__panel" id="div-alunos-new">
                Cadastrar Novo
            </div>
        </div>        
    </div>
</section>