<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="oifotosEntities" connectionString="metadata=res://*/DAL.dbNicePhotos.csdl|res://*/DAL.dbNicePhotos.ssdl|res://*/DAL.dbNicePhotos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.111.19.210\homologacao;initial catalog=oifotos;persist security info=True;user id=oifotos;password=mh.com123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<!--<add name="oifotosEntities" connectionString="metadata=res://*/DAL.dbNicePhotos.csdl|res://*/DAL.dbNicePhotos.ssdl|res://*/DAL.dbNicePhotos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.111.19.212\desenvolvimento;initial catalog=oifotos;persist security info=True;user id=oifotos;password=mh.com123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="PixelHouseDBEntities" connectionString="metadata=res://*/PixelHouse.csdl|res://*/PixelHouse.ssdl|res://*/PixelHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.111.19.210\homologacao;initial catalog=oifotos;user id=oifotos;password=mh.com123!;MultipleActiveResultSets=True;App=EntityFramework_&quot;" providerName="System.Data.EntityClient"/>-->
		<!--<add name="PixelHouseDBEntities" connectionString="metadata=res://*/PixelHouse.csdl|res://*/PixelHouse.ssdl|res://*/PixelHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.111.19.212\desenvolvimento;initial catalog=oifotos;user id=oifotos;password=mh.com123!;MultipleActiveResultSets=True;App=EntityFramework_&quot;" providerName="System.Data.EntityClient" />-->
		<add name="PixelHouseDBEntities" connectionString="metadata=res://*/PixelHouse.csdl|res://*/PixelHouse.ssdl|res://*/PixelHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.150.150;initial catalog=oifotos;user id=oifotos;password=mh.com123!;MultipleActiveResultSets=True;App=EntityFramework_&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<!--<add key="ConnError" value="Data Source=10.111.19.212\desenvolvimento;Initial Catalog=oifotos;User Id=oifotos;Password=mh.com123!;" />-->
		<add key="ConnError" value="Data Source=192.168.150.150;Initial Catalog=oifotos;User Id=oifotos;Password=mh.com123!;" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="KeyCripto1" value="PixelHouse&gt;OIFOTOS!@#:8876-1339-0986-7646" />
		<add key="KeyPixel" value="PIX!" />
		<add key="Site_Name" value="Álbuns Pixel" />
		<add key="Site_URL_HTTP" value="http://localhost:48977" />
		<add key="Site_Nicephotos_URL_HTTP" value="http://imp.nicephotos.com.br/" />
		<add key="Site_Nicephotos_Img_Render" value="http://imp.nicephotos.com.br/Image" />
		<add key="IMAGES_SERVER_URL_HTTP" value="http://isrv.pixelhouse.com.br" />
		<!--<add key="WEBAPI_AUTH_URL" value="http://wwwd1.nicephotos.com.br/webapi/api/account/auth" />-->
		<add key="WEBAPI_AUTH_URL" value="http://www.nicephotos.com.br/webapi/api/account/auth" />
		<add key="Modulo_Montagem_URL" value="http://localhost:48977/Albuns/openbook/" />
		<add key="Modulo_Montagem_URL_DEFAULT" value="http://localhost:48977/Albuns/openbook/?TipoMontagem=1%26TipoFotolivro=[PhotobookLineID]%26ProductID=[product_id]%26DefaultCoverID=7%26ColorID=6%26DefaultNumPages=[DefaultNumPages]%26ModelID=[shelfPhotobookID]%26ThemeID=26" />
		<add key="Modulo_Montagem_URL_CP7" value="http://localhost:48977/Albuns/openbook/?TipoMontagem=1%26TipoFotolivro=1%26ProductID=269%26DefaultCoverID=7%26ColorID=6%26DefaultNumPages=51%26ModelID=15%26ThemeID=26%26Origem=F09%26v=_1.58#0" />
		<add key="Modulo_Montagem_URL_NABECA" value="http://localhost:48977/Albuns/openbook/?TipoMontagem=1%26TipoFotolivro=3%26ProductID=3189%26DefaultCoverID=7%26ColorID=6%26DefaultNumPages=20%26ModelID=3369638%26ThemeID=26" />
		<add key="CARRINHO_URL" value="https://albuns.pixelhouse.com.br/checkout3/AccessCart/?passAccess=[passAccess]%26cartProdutos=true" />
    <add key="CARRINHO_URLCP7" value="/Checkout" />
    <add key="BRAND_ID_DEFAULT" value="2A" />
    <!-- 2B = 4-->
		<add key="Email_Esqueci_Senha_Template_ID" value="64" />
		<add key="LOG_EMAIL_ESQUECI_SENHA" value="false" />
		<add key="PATH_LOG_EMAIL_ESQUECI_SENHA" value="C:\temp\storage1\log\ph.formatura\email\" />
		<add key="Hash_Esqueci_Senha_Tempo_Validade_Minutos" value="60" />
		<add key="Hash_Esqueci_Senha_Tempo_Requisicao_Intevalo_Minimo_Minutos" value="1" />
		<add key="ALBUNS_UPLOAD_PATH_USERS" value="/dat/users" />
		<add key="Modulo_Montagem_Config_Loader_Path" value="assets/config/FotoAlbumConfig.xml?v=33" />
		<add key="Modulo_Montagem_CSS_Loader_Path" value="assets/skins/NicePhotos_3.0.swf?v=8" />
		<add key="Modulo_Montagem_Path_SWF" value="/swf/ModuloFotoAlbum/ModuloFotoAlbum_1.58.swf?v=5" />
		<add key="Modulo_Montagem_Express_Install" value="/swf/expressInstall.swf" />
  
    <!--
    <add key="Cart.API.BuscaAddress" value="https://albuns.pixelhouse.com.br/checkout3/api/CEP/BuscaInfoCepFormatura/" />
    <add key="Cart.API.RegisterOrder" value="https://albuns.pixelhouse.com.br/checkout3/api/Cart/RegisterOrderFormatura/" />
    <add key="Cart.GeraBoleto" value="https://albuns.pixelhouse.com.br/checkout3/Boleto/" />
    -->

    <add key="Cart.API.BuscaAddress" value="http://localhost:65331/api/CEP/BuscaInfoCepFormatura/" />
    <add key="Cart.API.RegisterOrder" value="http://localhost:65331/api/Cart/RegisterOrderFormatura/" />
    <add key="Cart.GeraBoleto" value="http://localhost:65331/Boleto/" />
    <add key="keyCriptoOrderCode" value="ORDER_CODE" />

    <add key="SendMail.OIF_SMTP" value="10.150.10.253" />
		<!--<add key="SendMail.OIF_SMTP" value="192.168.150.100"/>-->
		<add key="SendMail.OIF_EMAIL" value="Pixelhouse &lt;pixelhouse@pixelhouse.com.br&gt;" />
		<add key="SendMail.OIF_EMAIL_PWD" value="0if3Mail_!@#" />
		<add key="SendMail.OIF_EMAIL_PORT" value="587" />
		<add key="SendMail.ENABLE_SSL" value="false" />
    
    <add key="SendMail.ENABLE_DESENV" value="true" />
    <!-- FLAG ENVIO DE EMAIL DESENV, HABILITAR PARA ENVIAR EMAIL PARA O ENDERECO ESPECIFICADO ABAIXO ( SendMail.EMAIL_DESENV ) -->
    <add key="SendMail.EMAIL_DESENV" value="leandro.castro@pixelhouse.com.br" />
    
		<add key="EmailTxtLog" value="false" />
		<add key="EmailPathLog" value="C:\temp\storage1\log\cart_2.0\email\" />
		<add key="CacheFarm_Address" value="appfabric.pixelhouse.com.br" />
		<!--<add key="CacheFarm_Address" value="RJ01W7DSV07.pixel.corp" />-->
		<add key="CacheFarm_Port" value="22233" />
		<add key="CacheFarm_Name" value="PixelHouse" />
		<add key="CacheFarm_RetryCounter" value="10" />
		<add key="CacheFarm_SecondsBetweenAttempt" value="60" />
		<!--Invtervalo entre tentativas de reconexão do cache-->
		<add key="Cache_tryRemoveOnError" value="true" />
		<!--Em caso de erro ao recuperar info do cache tentar remover (caso nao seja uma excecao de cache indisponivel)-->
		<add key="Cache_SaveBDOnError" value="true" />
		<!--Indica se o log desse ser salvo no BD-->
		<add key="Cache_Enable" value="true" />
		<!--Indica se o cache deve ser utilizado-->
		<add key="PH_Aplicacao_ID" value="6" />
		<add key="CEP.tempoLimiteCacheMin" value="90" />
		<add key="Cache_nameSpaceNames" value="PH.Formatura.Web" />

		<!-- VERSIONAMENTO DE ARQUIVOS -->
		<add key="VERSAO_CSS" value="1" />
		<add key="VERSAO_JS" value="1" />
		<add key="MIN_CSS" value="0" /><!--[ 0: DESABILITADO | 1: HABILITADO ]-->
		<add key="MIN_JS" value="0" /><!--[ 0: DESABILITADO | 1: HABILITADO ]-->
		<add key="MIN_CSS_FRAMEWORK" value="0" /><!--[ 0: DESABILITADO | 1: HABILITADO ]-->
		<add key="MIN_JS_FRAMEWORK" value="0" /><!--[ 0: DESABILITADO | 1: HABILITADO ]-->
		<!-- / VERSIONAMENTO DE ARQUIVOS -->
    <add key="USE_MANIFEST" value="true" />
    <add key="VERSAO_MANIFEST" value="1.0.0" />
    <add key="SINC_CONFIG" value="{                                   'Tabelas':[                                   {                                   'id':'GRD_Product_Config',                                   'intervalo':'24'                                   },                                   { 'id':'GRD_Turma_Preco',                                   'intervalo':'24'                                   }]}" />
    <add key="Cookie.Offline.Name" value="Login" />
  </appSettings>
	<system.web>
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Windows">
		  <forms name=".ASPXAUTH" timeout="43200" />
		</authentication>
		<compilation debug="true" targetFramework="4.5" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<staticContent>
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
	</system.webServer>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>