<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PixelHouseDBEntities" connectionString="metadata=res://*/PixelHouse.csdl|res://*/PixelHouse.ssdl|res://*/PixelHouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.150.150;initial catalog=oifotos;user id=oifotos;password=mh.com123!;MultipleActiveResultSets=True;App=EntityFramework_&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Diretório onde será realizado o upload. parâmetro enviado para API de upload -->
    <add key="PathReadPhotosCreateBook" value="\\10.150.10.200\k\cp7\PORFORA\" />
    <!--Diretório onde o sistema irá monitorar se existem fotos para processar -->
    <add key="PathReadPhotos" value="\\10.150.10.200\k\cp7\" />
    <!--Se TRUE então o console entrará em modo debug e writeln das execuções -->
    <add key="PrintExecute" value="TRUE" />
    <!--Qtd de fotos upload por vez-->
    <add key="QtdFotosUpload" value="10" />
    <!--Qtd de ThreadPools-->
    <add key="QtdThreadPool" value="10" />
    <!--Modelos Fotolivros configurados para importação e criação dos albuns-->
    <add key="ModelosFotolivro" value="{Modelos: [ { 'Modelo': '22x30', 'ProductID': 3834, 'SizeID': 40, 'ModelID': 3500938 }, { 'Modelo': '30x40', 'ProductID': 3833, 'SizeID': 39, 'ModelID': 3500931 } ] }" />
    <!-- Dimenssões Thumb, Main e Book-->
    <add key="ThumbW" value="150" />
    <add key="ThumbH" value="150" />
    <add key="MainW" value="500" />
    <add key="MainH" value="500" />
    <add key="BookW" value="800" />
    <add key="BookH" value="800" />
    <!-- Quality Thumb, Main e Book-->
    <add key="ThumbQ" value="80" />
    <add key="MainQ" value="80" />
    <add key="BookQ" value="80" />
    

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>