.page-header-fotos {
	width: 100%;
	background-color: #EBEBEB;
	height: 50px;
}

.page-header-fotos .dvproduto {
	width: 15%;
	float: left;
	margin: 18px 5% 0px 10px;
	color: #878787;
}

.page-header-fotos .dvSelecao {
	width: 40%;
	float: left;
	margin: 12px 0px 0px 0px;
}

.page-header-fotos .dvImageView {
	float: left;
	margin: 0.8em 4% 0em 8%;
}

.page-header-fotos .dvImageView a {
	color: #000;
	cursor: pointer;
}

.page-header-fotos .dvImageView a div {
	width: 26px;
	height: 26px;
}

.page-header-fotos .dvImageView div.thumb {
	background-image: url(../images/modothumbnail.png);
}

.page-header-fotos .dvImageView div.big {
	background-image: url(../images/modotelacheia.png);
}

.page-header-fotos .dvImageView div.flip {
	background-image: url(../images/modobook.png);
}

.page-header-fotos .dvProsseguir {
	float: left;
	margin: 0.3em 0em 0em 0em;
}

.clear {
	clear: both;
}

.ocultar {
	display: none;
}

.nav-principal {
	/*
    background-color:#4670a2;
    line-height:2.2em;
    padding:0.7em 5%;
    */
}

#section-principal {
    height: calc(100% - 3% - (1.2% * 2) - 50px - 1em);
}
#section-principal.swiper-ativo {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.resumo-fotos {
	width: 40em;
	background-color: #EBEBEB;
	color: #878787;
}

.resumo-fotos a {
	padding: 0.5em 1.5em;
	display: block;
	float: left;
	font-size: 0.8em;
	border: 1px dashed #878787;
	color: #666666;
	margin: 0px 15px 0px 0px;
	cursor: pointer;
}

.resumo-fotos .active {
	-moz-box-shadow: 0 0 1em #9E9E9E;
	-webkit-box-shadow: 0 0 1em #9E9E9E;
	box-shadow: 0 0 1em #9E9E9E;
	background-color: #fbfbfb;
	color: #D00348;
	border: none;
	font-weight: bold;
}

.resumo-fotos a:hover,
.resumo-fotos a:focus {
	text-decoration: none;
	outline: none;
}

.resumo-fotos .sep {
	line-height: 0;
	float: left;
	border-style: solid;
	/*border-width:1.6em 0.25em 0.625em 0.625em;*/
	border-width: 1.5em 0.25em 0.625em 0.6em;
}

.resumo-fotos .sep1 {
	border-color: #5ea1f8 #5ea1f8 #24446a #24446a;
}

.resumo-fotos .sep2 {
	border-color: #9aaaba #9aaaba #5ea1f8 #5ea1f8;
}

.resumo-fotos .sep3 {
	border-color: #fff #fff #9aaaba #9aaaba;
}

.resumo-fotos .todas {
}

.resumo-fotos .selecionadas {
}

.resumo-fotos .excluidas {
}

.cont-foto {
	margin-top: 1%;
	width: 100%;
	height: 100%;
	max-width: 100%;
	position: relative;
}

.cont-foto:after {
  content: '';
  display: block;
  clear: both;
}

.cont-foto li {
	float: left;
	width: calc(10% - 2px);
	background: #fff;
	border: 1px solid #fff;
	border-top: none;
	border-bottom: none;
	border-color: #fff;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.cont-foto .thumbs {
	max-width: 100%;
	max-height: 100%;
}

.cont-foto .nao-selecionado {
	-moz-opacity: 0.30;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.cont-foto .selecionado {
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
}

.cont-foto .thumb_h {
}

.cont-foto .thumb_v {
}

#fotos_excluidas_percent {
	background-color: #324259;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	padding: 0.2em;
	color: #CCCCCC;
	margin-left: 0.2em;
}

.cont-foto .selecionado, .swiper-container .selecionado {
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
}

.cont-foto .nao-selecionado, .swiper-container .nao-selecionado {
	-moz-opacity: 0.3;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

#div-limite-fotos-modal {
	margin-top: 10%;
}

.page-header-fotos .btn-eu-quero {
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	background-color: #d10246;
	border-color: #d10246;
	color: #fff;
	text-transform: uppercase;
	width: 11em;
	float: right;
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
}

.btn-eu-quero:focus, .btn-eu-quero:hover {
	background-color: #c1003f;
	border-color: #c1003f;
	color: #fff;
}

.ico-view {
	-moz-opacity: 0.3;
	opacity: 0.3;
	filter: alpha(opacity=30);
	display: inline-block;
}

.ico-view:not(:last-child){
	margin-right: 0.5em;
}

.ico-view.active {
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
}

.ico-view:hover,
.ico-view:focus {
	outline: none;
	outline-offset: 0;
}

.ico-view .material-icons {
	font-size: 2.2em;
	vertical-align: middle;
}

.btn-carrousel {
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
	height: auto;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
	padding: 0;
}

.btn-carrousel .material-icons {
	font-size: 4.5em;
}

.btn-carrousel-prev {
	left: 10px;
	right: auto;
	padding: 0 0.15em 0 0;
}

.btn-carrousel-next {
	right: 10px;
	left: auto;
	padding: 0 0 0 0.15em;
}

.swiper-button-disabled {
	-moz-opacity: 0.30;
	opacity: 0.30;
	filter: alpha(opacity=30);
}

.btn-carrousel .glyphicon {
	font-size: 1.9em;
}

.btn-carrousel:active, .btn-carrousel:focus, .btn-carrousel:hover {
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* display: -webkit-box; */
	display: -ms-flexbox;
	/* display: -webkit-flex; */
	/* display: flex; */
	/* -webkit-box-pack: center; */
	-ms-flex-pack: center;
	/* -webkit-justify-content: center; */
	/* justify-content: center; */
	/* -webkit-box-align: center; */
	-ms-flex-align: center;
	/* -webkit-align-items: center; */
	/* align-items: center; */
	cursor: pointer;
	display: table !important;
}

.swiper-container {
	width: 100%;
	height: 100%;
	position: fixed !important;
	top: 0;
	left: 0;
	background-color: black;
	display: none;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
	opacity: 1;
}

.swiper-container .cont-img {
	width: 100%;
	height: 100%;
	background-color: #282828;
	top: 0;
	left: 0;
	z-index: 12;
	display: table-cell;
	vertical-align: middle;
	position: absolute;
}

.swiper-container .cont-img img {
	/*max-height: calc(95% - (1em * 2) - 2em);
	max-width: 95%;*/
}

.swiper-container .cont-img img.portrait {
	/*height: 80%;*/
}

.swiper-container .cont-img img.landscape {
	/*width: 80%;*/
}

.swiper-container .cont-img .checks {
    width: 5.5em;	
    margin: 0 auto;
}

.swiper-container .cont-img .check-img,.swiper-container .cont-img .no-check-img {
	width: 2em;
	height: 2em;
	background-size: 100%;
	margin: 1em auto 0;    
}

.swiper-container .cont-img .check-img {
    background-image: url(../images/checkok.png);
    float: left;
}

.swiper-container .cont-img .check-img.selecionado {
	
}

.swiper-container .cont-img .no-check-img {
    background-image: url(../images/nocheck.png);
    float: right;
}

.swiper-container .cont-img .check-img.nao-selecionado {
	/*background-image: url(../images/checkok.png);*/
}

#div-max-fotos-modal .material-icons, #div-min-fotos-modal .material-icons {
	color: red;
}

#div-limite-fotos-modal .material-icons {
	color: orange;
}

.dvfechar {
	position: absolute;
	top: 2em;
	right: 2em;
	width: 3em;
	height: 3em;
	background-image: url(../images/fechar.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 9998;
	color: #FFF;
	cursor: pointer;
}

.div-fechar-hold-preview {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	z-index: 10;
	color: #fff;
	cursor: pointer;
	font-size: xx-large;
}

.hold-preview img {
	width: 100%;
	height: 100%;
}

.bg-hold-preview {
	background-color: rgba(0,0,0,0.85);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	left: 0;
	top: 0;
	cursor: pointer;
}
.container-turn {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}
.turn {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}
.turn .page,
.turn .hard	{
	background-color: #282828;
	background-size: inherit;
	background-repeat: no-repeat;
	background-position: center;
}

.page-wrapper-par:not(:first-child) .page {
	-moz-box-shadow: inset -1em 0 1em -1em #000 !important;
	-webkit-box-shadow: inset -1em 0 1em -1em #000 !important;
	box-shadow: inset -1em 0 1em -1em #000 !important;
}

.page-wrapper-impar:not(:first-child) .page {
	-moz-box-shadow: inset 1em 0 1em -1em #000 !important;
	-webkit-box-shadow: inset 1em 0 1em -1em #000 !important;
	box-shadow: inset 1em 0 1em -1em #000 !important;
}

.btn-turn-nav {
	color: #fff;
	position: fixed;
	top: 50%;
	cursor: pointer;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
	height: auto;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
}

.btn-turn-nav.next {
	right: 10px;
	left: auto;
}
.btn-turn-nav.previous {
	right: auto;
	left: 10px;
}