.tdDadosVenda{
    background-color: #F0F0F0;
    color: #000;
    width: 30%;
}

.boxDados{
    display: inline-flex;
    border: 1px solid #CCC;
    padding: 5px;
    /* margin: 5px; */
}

.boxDados .titulo{
    font-weight: bold;
    margin: 0px 10px 0px 0px;
    background-color: #CCC;
}

.boxDados .valor{

}

.scroll{
    overflow: scroll;
}