.conteudo-painel {
}

.lista-acoes {
	width: 100%;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.lista-acoes > li {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-moz-box-shadow: 0 0 0.4em rgba(0,0,0, 0.3);
	-webkit-box-shadow: 0 0 0.4em rgba(0,0,0, 0.3);
	box-shadow: 0 0 0.4em rgba(0,0,0, 0.3);
	display: table;
	width: 49%;
	min-width: 10em;
	height: 17em;
	margin: 1% 0;
	background-position: center 20%;
	background-repeat: no-repeat;
	background-size: 7em;
	position: relative;
}

.lista-acoes h2,
.lista-acoes h3 {
	display: block;
	text-shadow: 0 0.1em 0.1em rgba(0,0,0,0.3);
}

.lista-acoes h2 {
	font-size: x-large;
}

.lista-acoes h3 {
	color: #dadada;
	font-size: large;
}

.lista-acoes > li > a {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding-top: 7em;
	padding-bottom: 5%;
}

.lista-acoes > li:hover,
.lista-acoes > li:focus {
	opacity: 0.9;
	-moz-box-shadow: 0 0 1em rgba(0,0,0,0.45);
	-webkit-box-shadow: 0 0 1em rgba(0,0,0,0.45);
	box-shadow: 0 0 1em rgba(0,0,0,0.45);
}

.lista-acoes > li > a:hover,
.lista-acoes > li > a:focus {
	color: #FFF;
	text-decoration: none;
}

.item-montar-projeto {
	background: url('data:image/svg+xml;utf8,<svg fill="#FFFFFF" height="96" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="M0 0h24v24H0z" fill="none"/> <path d="M20.5 11H19V7c0-1.1-.9-2-2-2h-4V3.5C13 2.12 11.88 1 10.5 1S8 2.12 8 3.5V5H4c-1.1 0-1.99.9-1.99 2v3.8H3.5c1.49 0 2.7 1.21 2.7 2.7s-1.21 2.7-2.7 2.7H2V20c0 1.1.9 2 2 2h3.8v-1.5c0-1.49 1.21-2.7 2.7-2.7 1.49 0 2.7 1.21 2.7 2.7V22H17c1.1 0 2-.9 2-2v-4h1.5c1.38 0 2.5-1.12 2.5-2.5S21.88 11 20.5 11z"/> </svg>');
	background-color: #3f51b5;
}

.item-projetos-em-andamento {
	background: url(../images/ic_edit_white_24px.svg);
	background-color: #ffc107;
}

.item-pedidos-finalizados {
	background: url(../images/ic_done_all_white_24px.svg);
	background-color: #12ad74;
}

.item-extrato {
	background: url(../images/ic_receipt_white_24px.svg);
	background-color: #607d8b;
}

.item-cadastrar-usuario {
	background: url(../images/ic_person_add_white_24px.svg);
	background-color: #689F38;
}

.item-carrinho {
	background: url(../images/ic_shopping_cart_white_24px.svg);
	background-color: #039789;
}

.item-alunos {
	background: url(../images/ic_person_white_24px.svg);
	background-color: #0e81da;
}

.item-alunos-sincronizados {
	background: url(../images/ic_archive_white_24px.svg);
	background-color: #7a27c1;
}

.item-pedidos-pendentes {
	background: url(../images/ic_sync_problem_white_24px.svg);
	background-color: #637f8b;
	
}

.item-associacao-alunos-vendedores {
	background: url(../images/ic_extension_white_24px.svg);
	background-color: #607d8b;
}

.item-pedidos {
	background: url(../images/ic_extension_white_24px.svg);
	background-color: #607d8b;
}

.item-fotos-pedidos {
	background: url(../images/ic_extension_white_24px.svg);
	background-color: #e91e63;
}

.item-faturamento-diario {
	background: url(../images/ic_extension_white_24px.svg);
	background-color: #ffc107;
}

.item-faturamento-mensal {
	background: url(../images/ic_extension_white_24px.svg);
	background-color: #039789;
}


.item-integracao-cp7-vendas {
	background: url(../images/ic_extension_white_24px.svg);
	background-color: #ab0691;
}

.item-integracao-cp7-vendas-itens {
	background: url(../images/ic_extension_white_24px.svg);
	background-color: #02a8f4;
}

.item-integracao-cp7-vendas-parcela {
	background: url(../images/ic_extension_white_24px.svg);
	background-color: #ff9f4d;
}

.item-projetos-finalizados {
	background: url('data:image/svg+xml;utf8,<svg fill="#FFFFFF" height="96" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="M0 0h24v24H0z" fill="none"/> <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/> </svg>');
	background-color: #ff9f4d;
}

.qtd_pedidos_pendentes {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	top: 1em;
	left: 1em;
	color: #FFF;
	background-color: #FF9800;
	padding: 0.4em;
	min-width: 2em;
	min-height: 2em;
	text-align: center;
	font-size: 1.2em;
	line-height: 200%;
}