#section-principal{
    height: calc(100% - 6% - (1.2% * 2));
}

.btn-eu-quero {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	background-color: #d10246;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	outline: none;
	margin: 2em auto 0;
	display: block;
	padding: 0.2em 3.5em;
}

.btn-eu-quero:focus,.btn-eu-quero:hover {
    background-color:#c1003f;
    border-color:#c1003f;
    color: #fff;
}

.conteudo-geral .btn-eu-quero-header,.conteudo-geral .btn-eu-quero-header:hover {
    background-color:#c1003f;
    border-color:#c1003f;
    color: #fff;
}

.conteudo-geral .btn-eu-quero-header {
    float:right;
}

#div-min-fotos-modal .material-icons, #div-max-fotos-modal .material-icons {
    color:red;
}

#div-min-fotos-modal .produtoName, #div-max-fotos-modal .produtoName, #div-min-fotos-modal #QtdMinFoto, #div-max-fotos-modal #QtdMaxFoto{
    font-weight:bold;
}

.ancora-acao-btn {
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
	text-transform: uppercase;
	padding: 0.6em 0.8em;
	font-size: small;
}

table.tabela-padrao tbody tr td:first-child{
	text-align: center;
	padding-right: 0;
}
.cont-pacotes {
    float:left; margin-top: 0.6em
}

.custom-select {
    border:2px solid #000; background-color:#fff; font-size:1.2em;
}

.cont-pacotes .dropdown-menu {
    border:2px solid #000;background-color:#fff;font-size:1.2em;
}


.header-products{
    
}

.list-products {
    margin-top: 2%;
}

.list-products ul li{
    position:relative;
    width:22.91em;
    min-height:21em;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
    float:left;
    margin: 0 1% 1% 0;
}

.list-products ul li .thumb-img {
    width:100%;
    height: 221px;
}

.list-products ul li .infos{
    padding: 2% 7%;
}

.list-products ul li .infos .info-inferior {
    margin-top: 5%;
}

.list-products ul li .infos .info-inferior,.list-products ul li .infos .txt-fotos-selecionadas {
    margin-left:8%;
}

.list-products ul li p{
    padding-left: 7%;
    color: #666;
    margin-top: 5%;
}

.list-products ul li .txt-fotos-selecionadas {
    margin-top:1%;    
}

.list-products ul li .ancora-acao {
    color:#666;
}

.zoom-img {
    position:absolute;
    background-color:#fff;
    right: 1%;
    top: 1%;
    cursor:pointer;
    -moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
    padding: 0.2em 0.3em;
    -moz-opacity: 0.8;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.zoom-img .material-icons {
    color:#000;
}

.btn-rounded-product{
    border:1px solid #b2b2b2; color:#b2b2b2;padding-left: 2%;padding-right: 2%;
}

.zoom-container {
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: #282828;
    display: none;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 1;
    z-index:20;
}

.zoom-container img{
    width: 34%;
    margin: 10% 0 0 33%;
}

.zoom-container .dvfechar {
    background-image: url(../images/fechar.png);
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    right: 1%;
    top: 2%;
    position: absolute;
    z-index:2;
    cursor:pointer;
}


.list-products .ul-itens .div-grupo-alterar-qtd .btn-danger,
.list-products .ul-itens .div-grupo-alterar-qtd .btn-success {
	color: #333;
	background-color: transparent;
	border: 1px solid #ccc;
}

.div-grupo-alterar-qtd {	
    float:left;
    width: 30%;    
}

.jqQtdProduct {
    min-width: 3em;
    max-width: 4em;
    text-align: center;
}

.cont-btn-visualizar {
    float:left;
    margin-right: 8%;
}