#section-principal {
	padding-top: 0;
}

.table-projetos-finalizados .span-pedido-code {
	color: #a3d4d9;
	margin-top: 0.2em;
	display: inline-block;
}

.table-projetos-finalizados .span-pedido-status {
	margin-bottom: 0.5em;
}